md-content(layout-padding)
  div
    section.home
      h1.title Hello from Angular !
      // Images (and assets) are parsed and loaded from within the public directory
      img(src='/img/logo.png')