header
  md-sidenav(class="md-sidenav-left md-whiteframe-z2", md-component-id="nav")
    md-toolbar
      h2(class="md-toolbar-tools") Sidenav
    md-content(layout-padding)
      md-button(ng-click="app.closeSidenav()", hide-gt-md='') Close SideNav
  md-toolbar
    .md-toolbar-tools
      md-button.md-icon-button(aria-label="Settings", ng-click='app.toggleSidenav()')
        ng-md-icon(icon="menu")
      h2
        span Toolbar
md-content(layout-padding)
  .main
    section.logo
      h1.title Hello from Angular !
      // Images (and assets) are parsed and loaded from within the public directory
      img(src='/img/logo.png')
    section
      md-toolbar
        h2.md-toolbar-tools Notes from LoopBack
      md-content.md-inline-form(layout-padding)
        form(name="myForm")
          md-input-container.md-block
            label Title
            input(name="title", ng-model="app.newNote.title", required)
            div(ng-messages="myForm.title.$error", role="alert", multiple)
              div(ng-message="required") Title is required
          md-input-container.md-block
            label Content
            textarea(name="content", ng-model="app.newNote.content", md-maxlength=150, rows="5", required)
            div(ng-messages="myForm.content.$error", role="alert", multiple)
              div(ng-message="required") Content is required
              div(ng-message="md-maxlength") Content maxlength is 150
          div(layout="row", layout-align="end")
            md-button.md-raised.md-primary(ng-click="app.addNote()", ng-disabled="myForm.$invalid") Add
      md-divider
      md-content
        md-list
          md-subheader.md-no-sticky {{app.notes.length}} line item
          md-divider
          md-list-item.md-2-line(ng-repeat="note in app.notes")
            .md-list-item-text
              h3 {{ note.title }}
              p {{ note.content }}
            md-button.md-secondary.md-raised.md-warn(ng-click="app.deleteNote(note)") Delete
            md-divider
footer
  a(ng-href='{{app.url}}') Webpack Angular Starter