base-background = white

body
  background: base-background
  color: #fff
  font-family: Arial, Helvetica, sans-serif

ng-md-icon
  fill: white

a
  color: #03A9F4

.main
  text-align: center

footer
  text-align: center
  font-size: 0.8em