md-sidenav.md-sidenav-left(md-component-id="nav", md-is-locked-open="$mdMedia('gt-sm')", md-whiteframe="2")
  md-toolbar
    h2(class="md-toolbar-tools") Sidenav
  md-content(layout-padding, layout="column", flex, role="navigation")
    ul
      li
        md-button.md-raised(ui-sref="home", ng-click="sidenav.close()") Home
      li
        md-button.md-raised(ui-sref="note", ng-click="sidenav.close()") Note
      li(hide-gt-sm='')
        md-button.md-raised(ng-click="sidenav.close()") Close SideNav