doctype
html(ng-app='app', lang='en')
  head
    meta(charset='UTF-8', name="viewport", content="width=device-width, initial-scale=1")
    title Angular App
    link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
    base(href='/')
  body
    div(layout="row", flex, layout-fill)
      side-nav(layout)
      div(layout="column", layout-fill)
        top-bar(layout)
        md-content(ui-view, flex, layout-padding)